*.swp
*.bak
*.egg
*.egg-info
*.eggs
*.pyc
*.pyd
*.pyo
*.so
*.tar.gz
*~
.Python
.cache
.coverage
.coverage.*
.direnv
.envrc
.installed.cfg
.noseids
.vimrc
log/*.log
bin/
include/
lib/
lib64
plugin.py
pip-selfcheck.json
pyvenv
pyvenv.cfg
venv
virtualenv.py
.install-cython
.install-deps
.develop
