[Unit]
Description=gunicorn daemon
Requires=foremanlookup_cache.socket
After=network.target

[Service]
Type=notify
# the specific user that our service will run as
User=root
Group=root
# another option for an even more restricted service is
# DynamicUser=yes
# see http://0pointer.net/blog/dynamic-users-with-systemd.html
RuntimeDirectory=gunicorn
WorkingDirectory=/root/foreman_lookup_cache
ExecStart=/root/foreman_lookup_cache/bin/gunicorn foreman_cache.gunicorn:cache -c /root/foreman_lookup_cache/config/gunicorn.conf.py 
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target
